.App
{
  background-image:url('./bg1.jpg');
  min-height: 80vh;
}
.display
{
  background-color: rgba(0, 0, 0, 0.452);
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.display h1, .display h2,.display h3
{
  color: white;
}
@media (max-width: 1200px) {
  .display {
    width: 30%;
  }
  .row input {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .display {
    
    width: 80%;
  }
  .row input {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .display {

    width: 90%;
  }
  .row input {
    width: 50%;
  }
}